@font-face {
  font-family: 'Roboto';
  src:         local('Roboto Regular'),
               url('../assets/fonts/roboto/roboto-regular.woff2') format('woff2'),
               url('../assets/fonts/roboto/roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style:  normal;
}
